body{
  background-color: #CE3030;
}
/* Layout CSS */
.nav-item:hover{
  color: white;
}

/* Index CSS */
img{
  border-radius: 25px;
  box-shadow: 0px 10px 38px 2px rgba(28,28,28,1);
}

/* Matches */

/* Dream Teams CSS */
@media (min-width: 576px) and (max-width: 767.98px){
  #mobile_viewing{
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #mobile_viewing{
    display: none;
  }
  #desktop_viewing{
    display: block!important;
  }
}
