extends layout

block content
  .container
    .row
      .col-lg-12.col-sm-12.mt-3
        h1.text-white.text-center #{title}
      .col-lg-6.offset-lg-3.col-sm-12.mt-3
        form(method='GET', action='/admin')
          .input-group
            input.form-control(name='search', type='text', placeholder='Введите Username...')
            input.input-group-append.btn.btn-primary(type='submit', value='Search')
      .col-lg-12.col-sm-12
        .row
          each user, i in users
            .col-lg-6.offset-lg-3.col-sm-12.mt-3
              h5.text-white= i + 1 + '.'
              //- Input Group by user id
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.font-weight-bold User ID:
                input#inlineFormInputGroup.form-control(readonly, type='text', value= user._id)
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.font-weight-bold User Phone:
                input#inlineFormInputGroup.form-control(readonly, type='text', value= user.phone)
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.font-weight-bold User Name:
                input#inlineFormInputGroup.form-control(readonly, type='text', value= user.username)
              .input-group.mb-2
                .input-group-prepend
                  .input-group-text.font-weight-bold User Password:
                input#inlineFormInputGroup.form-control(readonly, type='text', value= user.password3)
              a.btn.btn-warning.btn-block.delete-user(href='#', data-id= user._id) DELETE
            
            
            //- .col-lg-3.col-sm-6
            //-   .list-group
            //-     .list-group-item User ID
            //-     .list-group-item User Phone
            //-     .list-group-item User Name 
            //-     .list-group-item User Password
            //- .col-lg-4.col-sm-6
            //-   .list-group
            //-     .list-group-item= user._id
            //-     .list-group-item= user.phone
            //-     .list-group-item= user.username 
            //-     .list-group-item= user.password3
