extends layout

block content
  .container
    .row
      .col-lg-6.col-sm-12.index_firts_block.mt-5
        img.img-fluid.index_img(src='./assets/image/nameste.jpeg')
      .col-lg-6.col-sm-12.index_second_block.mt-5
        .container
          h1.text-white.font-weight-light 
            u Добро Пожаловать на Турнир по FIFA 2019
          h4.text-white.font-weight-light.ml-1 Для участие прочтите инструкцию ниже  
        
        
