extends layout

block content
  .container
    .row
      .col-lg-6.col-sm-12.index_firts_block.mt-5
        img.img-fluid.index_img(src='./assets/image/nameste.jpeg')
      .col-lg-6.col-sm-12.index_second_block.mt-5
        .container
          h1.text-white.font-weight-light 
            u Добро Пожаловать на Турнир по FIFA 2019
          hr
          h2.text-white.font-weight-light Продолжительность Турнира 3 месяца
          hr
          h3.text-white.font-weight-light Призовой фонд Турнира составляет до 1.000.000 млн тенге
          hr
          h5.text-white.font-weight-light.ml-1 Инструкция для участия:
          .container
            ul.list-group
              ol.list-group-item.font-weight-light.text-white Получить Аккаунт для участия
              ol.list-group-item.font-weight-light.text-white Выбрать команду
              ol.list-group-item.font-weight-light.text-white Приходить и Играть по назначенному времени
              style.
                .list-group-item{
                  background: #4D7EE0;
                }
              ol.list-group-item.font-weight-light.text-white И ЗАБРАТЬ СВОЙ КУШ!
              hr
              h5.text-white.font-weight-light.text-center Для получения подробной информации пишите нам 
              a.btn.btn-success.btn-block(href='#') WhatsApp
              hr
              h5.text-white.font-weight-light.text-center или Звоните по этому номеру
              a.btn.btn-primary.btn-block.font-weight-bold.mb-5(href='#') +7-776-038-88-00
