extends layout

block content
  .container
    .first_block
      .row
        .col-lg-6.col-xs-12.nameste_text
          h1 Добро Пожаловать на турнирный матч по FIFA 2019
        .col-lg-6.col-xs-12.nameste_logo
          img.img-fluid(src='./assets/image/nameste.jpeg')
    
