extends layout


block content
  .container
    .row
      .col-lg-12.col-sm-12.mt-3.text-center
        .container
          h1 #{title}
    .row
      .col-lg-6.offset-lg-3.col-sm-12
        .container
          form(method='POST', action='/lists/add/new')
            .form-group
              label Фамилия
              input.form-control(name='first_name', type='text')
            .form-group
              label Имя
              input.form-control(name='second_name', text='text')
            .form-group
              label Ваша Команда
              input.form-control(name='team_name', text='text')
              hr
            .row
              .col-sm-12
                input.btn.btn-primary.btn-block(type='submit', value='Submit')        
  //- .container
  //-   .row
  //-     .col-6.offset-3
  //-       h1 #{title}
  //-   .row
  //-     .col-6.offset-3
  //-       form(method='POST', action='/lists/teams/add/new')
  //-          .form-group
  //-            label Фамиля:
  //-            input.form-control(name='first_name', type='text')
  //-          .form-group
  //-            label Имя:
  //-            input.form-control(name='second_name', type='text')
  //-          .form-group
  //-            label Ваша Команда:
  //-            input.form-control(name='team_name', type='text')
  //-          input.btn.btn-primary(type='submit', value='Submit')
