extends layout


block content
  .container
    .row
      .col-6.offset-3
        h1 #{title}
    .row
      .col-6.offset-3
        form(method='POST', action='/lists/teams/add/new')
           .form-group
             label Фамиля:
             input.form-control(name='first_name', type='text')
           .form-group
             label Имя:
             input.form-control(name='second_name', type='text')
           .form-group
             label Ваша Команда:
             input.form-control(name='team_name', type='text')
           input.btn.btn-primary(type='submit', value='Submit')
